@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

main {
  background-color: hsl(226, 43%, 10%);
  min-height: calc(100vh - 15px);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.Profile {
  background: hsl(235, 46%, 20%);
  width: 250px;
  height: 450px;
  border-radius: 20px;
  margin: 20px;
}

.MainProfile {
  border-radius: 20px;
  padding: 30px;
  height: 260px;
  background: hsl(246, 80%, 60%);
}

.Avatar {
  width: 80px;
  height: 80px;
}

.AvatarWrapper {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid white;
}

.TabNav {
  list-style: none;
  line-height: 2;
  color: hsl(235, 45%, 61%);
}

footer {
  height: 15px;
  font-size: 11px;
  text-align: center;
}

footer a {
  color: hsl(228, 45%, 44%);
}
